<div class="center hero-unit">
	<h1>Welcome to Gabe's App</h1>
	<h2>
		This is the Home Page for the 
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
	</h2>
	<%= link_to "Sign Up Now!", signup_path,class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt:"Rails"), 'http://rubyonrails.org/'%>